openapi: 3.0.3
info:
  title: Articles API Documentation
  description: |-
    This is a simple api documentation for learning purpose
  version: 1.0.0
servers:
  - url: http://testing.binar.com
  - url: http://production.binar.com
tags:
  - name: articles
    description: Articels CRUD
paths:
  /articles:
    get:
      tags:
       - articles
      summary: List all of available articels
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
        '400':
          description: Invalid status value
    post:
      tags:
       - articles
      summary: Create new article
      requestBody:
        description: Update an existent pet in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
        '400':
          description: Invalid status value
  /articles/{articleId}:
    put:
      tags:
       - articles
      summary: Update existing article by providing its id and updated values
      parameters:
        - name: articleId
          in: path
          description: ID of article to update
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid status value
    delete:
      tags:
        - articles
      summary: delete selected article
      parameters:
        - name: articleId
          in: path
          description: ID of article to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid status value
components:
  schemas:
    Article:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        title:
          type: string
          example: testing title
        body:
          type: string
          example: testing body
        approved:
          type: boolean
          example: true
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 200
        type:
          type: string
        message:
          type: string
          example: "success"
